<div class="modal-header">
    <h4 class="modal-title">{{ pageHeaderKey | translate }}</h4>
</div>

<div class="modal-body">

    <form class="form-horizontal parsley-form" novalidate id="form" name="form" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="prefix" class="col-md-3">{{ 'Products.AntiSpamSMS.Operations.Screenings.TableColumns.E164Prefix' | translate }}</label>
            <div class="col-md-9">
                <input id="prefix" name="prefix" type="text" class="form-control"
                       ng-model="entry.prefix"
                       ng-pattern="$root.Validators.IntegerNumber"
                       ng-maxlength="20" maxlength="20"
                       ng-required="true"
                       ng-disabled="(entry.id ? true : !AuthorizationService.canCreate())"/>
                <ul ng-class="{ 'parsley-error-list': form.prefix.$dirty && form.prefix.$invalid }"
                    ng-show="form.prefix.$dirty && form.prefix.$invalid">
                    <li class="required" ng-show="form.prefix.$error.prefix || form.prefix.$error.pattern">{{ 'CommonMessages.NumericFieldError' | translate }}</li>
                    <li class="required" ng-show="form.prefix.$error.required">{{ 'CommonMessages.RequiredFieldError' | translate }}</li>
                    <li class="required" ng-show="form.prefix.$error.maxlength">{{ 'CommonMessages.MaxLengthError' | translate:{max_length: 20} }}</li>
                    <li class="required" ng-show="form.prefix.$error.availabilityCheck">{{ 'CommonMessages.ListItemAvailable' | translate }}</li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label for="status" class="col-md-3">{{ 'CommonLabels.State' | translate }}</label>
            <div class="col-md-9">
                <select id="status" name="status" class="form-control"
                        ng-model="entry.status"
                        ng-options="opt for opt in STATES"
                        ng-disabled="(entry.id ? !AuthorizationService.canUpdate() : !AuthorizationService.canCreate())">
                </select>
            </div>
        </div>

    </form>

</div>

<div class="modal-footer">
    <button type="submit" class="btn btn-primary"
            ng-disabled="form.$invalid || (entry.id ? !AuthorizationService.canUpdate() : !AuthorizationService.canCreate()) || isNotChanged()"
            ng-click="save(entry)">
        {{ 'CommonLabels.Save' | translate }}
    </button>
    <button class="btn btn-default" ng-click="cancel()">{{ 'CommonLabels.Cancel' | translate }}</button>
</div>
